%h3.text-center
  = "Edit Open Appointment"
%hr
= form_for @appointment, url: "/update_open_appointment/#{@appointment.id}", html: {class: 'form form-horizontal'} do |f|
  .form-group
    = f.label :name, {class: 'control-label col-sm-2'}
    .col-sm-9
      = f.text_field :name, {class: 'form-control'}
  .form-group
    = f.label :number, {class: 'control-label col-sm-2'}
    .col-sm-9
      = f.phone_field :number, {class: 'form-control'}
  .form-group
    = f.label :address, {class: 'control-label col-sm-2'}
    .col-sm-9
      = f.text_field :address, {class: 'form-control'}
  .form-group
    = f.label :notes, {class: 'control-label col-sm-2'}
    .col-sm-9
      = f.text_area :notes, {class: 'form-control'}
  .form-group
    = f.label :status, {class: 'control-label col-sm-2'}
    .col-sm-9
      = f.select :status, ['not scheduled', 'scheduled', 'no answer', 'completed', 'other'], {}, {class: 'selectpicker', 'data-live-search' => 'true'}
  .form-group
    = f.label :status_notes, {class: 'control-label col-sm-2'}
    .col-sm-9
      = f.text_area :status_notes, {class: 'form-control'}
  .actions.text-center
    = link_to 'Back', :back, {class: 'btn btn-default', role: 'button'}
    = f.submit 'Save Changes', {class: 'btn btn-warning'}