%h3.text-center.underline Add Work
%hr
= form_for(@work_log, url: '/log_work', html: {class: 'form-horizontal'}) do |f|
  .form-group
    = f.label :tenant_name, {class: 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :tenant_name, {class: 'form-control', required: true}
  .form-group
    = f.label :address, {class: 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :address, {class: 'form-control', required: true}
  .form-group
    = f.label :work_description, {class: 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_area :work_description, {class: 'form-control', required: true}
  .form-group
    = f.label :hours_worked, {class: 'col-sm-2 control-label'}
    .col-sm-10
      = f.number_field :hours_worked, {class: 'form-control', required: true}
  .form-group
    = f.label :money_spent, {class: 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :money_spent, {class: 'form-control', required: true}
  .text-center
    = f.submit "Add Work", {class: 'btn btn-sm btn-success'}
