%h3.text-center
  = "Appointments For: #{@user.full_name}"
- if @appointments.count == 0
  %h5.text-center
    No Appointments Found!
- else
  - @appointments.to_enum.with_index(1).each do |appointment, index|
    #accordion.panel-group.text-center
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{appointment.id}"}
              = "Appointment #{index}"
        .panel-collapse.collapse.out{id: appointment.id}
          .panel-body
            .div
              %label Name:
              = appointment.name
            .div
            %label Number:
            = appointment.number
            .div
              %label Address:
              = appointment.address
            .div
              %label Notes:
              = appointment.notes
            .div
              %label Status:
              = appointment.status
            .div
              %label Status Notes:
              = appointment.status_notes
            .div
              .underline Actions:
              %a{href: "/edit_appointment/#{appointment.id}"}
                = fa_icon 'edit 2x'
              - if admin?
                = link_to delete_appointment_path(appointment), {method: :delete} do
                  = fa_icon 'trash-o 2x'
  %hr
- unless@open_appointments.empty?
  %hr
  .text-center
    %h3 Available Appointments
    - @open_appointments.each do |open_appointment|
      .well.well-sm
        %a{href: "/open_appointment/#{open_appointment.id}'"}
          = open_appointment.name
  %hr
.text-center
  = link_to 'Back', :index, {class: 'btn btn-default', role: 'button'}
