- if @appointments.count > 0
  - text = @appointments.first.class == OpenAppointment ? 'Open Appointment' : 'Claimed Appointment'
  %h3.underline
    = pluralize(@appointments.count, text)
  - appointment_groups.each do |name, appointments|
    .panel-group{id: name}
      .panel.panel-default
        .panel-heading{:role => "tab"}
          %h4.panel-title
            %a{"data-parent" => name, "data-toggle" => "collapse", :href => "##{name}_collapse"}
              = "#{pluralize(appointments.count, "#{name.to_s.humanize.titleize} Appointment", "#{name.to_s.humanize.titleize} Appointments")}"
        .panel-collapse.collapse.out{id: "#{name}_collapse"}
          .panel-body
            - appointments.each do |appointment|
              %strong
                - if appointment.class.to_s == 'OpenAppointment'
                  = link_to appointment.name.titleize, "/edit_open_appointment/#{appointment.id}"
                - else
                  = link_to appointment.name.titleize, "/edit_appointment/#{appointment.id}"
                - if appointment.respond_to?(:user_id) && appointment.user_id
                  = "- claimed by: #{User.find(appointment.user_id).full_name}"
                %br
- else
  %h3 No appointments to show

