%h3.text-center.underline Setup Appointments
.well.well-sm.text-center
  %a{href: "/setup_open_appointment"}
    Create New Open Appointment
%hr
- @users.each do |user|
  .well.text-center
    %a{href: "/setup_appointment/#{user.id}"}
      = user.full_name
%hr
%h3.text-center.underline Edit Appointments
- @users.each do |user|
  .panel-group{"aria-multiselectable" => "true", :role => "tablist", id: "user_appointments_accordian_#{user.id}"}
    .panel.panel-default
      .panel-heading{:role => "tab"}
        %h4.panel-title
          %a{"data-parent" => "#user_appointments_accordian_#{user.id}", "data-toggle" => "collapse", :href => "#user_appointments_collapse_#{user.id}"}
            = user.full_name
      .panel-collapse.collapse.in{:role => "tabpanel", id: "user_appointments_collapse_#{user.id}"}
        .panel-body
          - user_appointments = user.appointments
          - if user_appointments.empty?
            %strong No appointments found
          - else
            - user.appointments.each do |appointment|
              %div
                %a{href: "/edit_appointment/#{appointment.id}"}
                  = appointment.name
                  \-
                  = link_to delete_appointment_path(appointment), {method: :delete} do
                    = fa_icon 'trash-o'
- unless @open_appointments.blank?
  %hr
  %h3.text-center.underline Edit Open Appointments
  - @open_appointments.each do |appointment|
    .well.text-center
      %a{href: "/edit_open_appointment/#{appointment.id}"}
        = appointment.name
        \-
        = link_to delete_open_appointment_path(appointment), {method: :delete} do
          = fa_icon 'trash-o'
.text-center
  = link_to 'Back', :index, {class: 'btn btn-default', role: 'button'}