.text-center
  - if @active_work_period_users.any?
    %h5.underline Users With Active Work Periods:
    - @active_work_period_users.each do |user|
      %strong
        = user.full_name
      \- Started:
      = user.current_work_period.date_started
      %br
    %br
    = link_to 'End Active Work Periods', "end_active_work_periods/#{@active_work_period_users.map{|user| user.id}.join(',')}", data: {:confirm => 'Are you sure you want to end active work periods? This cannot be undone!'}, method: :post, class: 'btn btn-warning'
  - else
    %strong
      No Users With Active Work Periods
  %hr
  - unless @inactive_work_period_users.empty?
    %h5 Start Work Periods
    %form.form.form-horizontal{:role => "form", method: 'POST', action: '/start_work_periods'}
      = hidden_field_tag :authenticity_token, form_authenticity_token
      - @inactive_work_period_users.each do |user|
        .form-group
          .col-sm-offset-2.col-sm-8
            .checkbox
              %label
                %input{:type => "checkbox", name: "users[#{user.full_name}]", value: user.id}
                  %strong
                    = user.full_name
      %button.btn.btn-warning{type: 'submit'} Start Work Periods
    %hr
.text-center
  = link_to 'Back', :index, {class: 'btn btn-default'}