%h3.text-center
  View Work Logs By Address
.text-center
  #accordion.panel-group{:role => "tablist"}
    .panel.panel-default
      #headingOne.panel-heading{:role => "tab"}
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
            = "Work Logs For #{@address_name}"
      #collapseOne.panel-collapse.collapse.out{:role => "tabpanel"}
        .panel-body
          - @work_logs.each do |work_log|
            .well
              %h4
                = "Work Log By: #{User.find(Address.find(work_log.address_id).created_by).full_name}"
              %h5.text-center
                Date:
                = work_log.date
              %h5.text-center
                Description:
                = work_log.work_description
              %h5.text-center
                Time Started:
                = work_log.time_started
              %h5.text-center
                Time Ended:
                = work_log.time_ended
              %h5.text-center
                Break Minutes:
                = work_log.break_minutes
              - unless work_log.money_spent == "0"
                %h5.text-center
                  Money Spent:
                  = work_log.money_spent
                %h5.text-center
                  Spent Description:
                  = work_log.spent_description
.text-center
  = link_to 'Back', :index, {class: 'btn btn-default', role: 'button'}