.text-center
  %h3.underline Work Period Employee Info
  - @users.each do |user|
    .panel-group{"aria-multiselectable" => "true", :role => "tablist", id: "user_accordian_#{user.id}"}
      .panel.panel-default
        .panel-heading{:role => "tab"}
          %h4.panel-title
            %a{"data-parent" => "#user_accordian_#{user.id}", "data-toggle" => "collapse", :href => "#user_collapse_#{user.id}"}
              = user.full_name
        .panel-collapse.collapse.out{:role => "tabpanel", id: "user_collapse_#{user.id}"}
          .panel-body
            - if user.current_work_period
              %label Total Time This Work Period:
              = minutes_in_words(user.current_work_period.total_time)
              %br
              %label Total Money Spent This Work Period:
              = number_to_currency user.current_work_period.total_money
            - else
              %h5 No Work Period Started
%hr
%h3.text-center.underline Work Logs By Job
.text-center
  - if @jobs.empty?
    %h5 No Jobs In Current Work Period
  - @jobs.each do |job|
    - next unless job.has_work?
    .panel-group{"aria-multiselectable" => "true", :role => "tablist", id: "job_accordian_#{job.id}"}
      .panel.panel-default
        .panel-heading{:role => "tab"}
          %h4.panel-title
            %a{"data-parent" => "#job_accordian_#{job.id}", "data-toggle" => "collapse", :href => "#job_collapse_#{job.id}"}
              Job Name:
              = job.name
              %i.red
                .info
                  = "Total Time On Job: #{minutes_in_words(Job.where(name: job.name).map{|job| job.total_time}.inject(:+))}"
                .info
                  = "Total Money Spent On Job: #{number_to_currency(Job.where(name: job.name).map{|job| job.total_money}.inject(:+))}"
        .panel-collapse.collapse.out{:role => "tabpanel", id: "job_collapse_#{job.id}"}
          .panel-body
            - job_addresses = Address.joins(:job).where("jobs.name = '#{job.name}'").to_a.uniq{|address| address.value}
            - job_addresses.each do |address|
              .panel-group{"aria-multiselectable" => "true", :role => "tablist", id: "address_accordion_#{address.id}"}
                .panel.panel-default
                  .panel-heading{:role => "tab"}
                    %h4.panel-title
                      %a{"data-parent" => "#address_accordion_#{address.id}", "data-toggle" => "collapse", :href => "#address_collapse_#{address.id}"}
                        Address:
                        = address.value
                  .panel-collapse.collapse.out{:role => "tabpanel", id: "address_collapse_#{address.id}"}
                    .panel-body
                      - work_logs = WorkLog.joins(:address).where("addresses.value = '#{address.value}'").order("addresses.created_by").to_a.uniq
                      - work_logs.each do |work_log|
                        - next unless WorkPeriod.find(work_log.address.job.work_period_id).active
                        .well
                          %h4
                            = "Work Log By: #{User.find(Address.find(work_log.address_id).created_by).full_name}"
                          %h5.text-center
                            Date:
                            = work_log.date
                          %h5.text-center
                            Description:
                            = work_log.work_description
                          %h5.text-center
                            Time Started:
                            = work_log.time_started
                          %h5.text-center
                            Time Ended:
                            = work_log.time_ended
                          %h5.text-center
                            Break Minutes:
                            = work_log.break_minutes
                          %h5.text-center
                            Money Spent:
                            = work_log.money_spent
                          %h5.text-center
                            Spent Description:
                            = work_log.spent_description
%hr
%h3.text-center.underline Work Logs By Employee
.text-center
  - @users.each do |user|
    - next unless user.current_work_period
    .panel-group{:role => "tablist", id: "accordian_#{user.id}"}
      .panel.panel-default
        .panel-heading{:role => "tab"}
          %h4.panel-title
            %a{"data-parent" => "#accordian_#{user.id}", "data-toggle" => "collapse", :href => "#collapse_#{user.id}"}
              = user.full_name
        .panel-collapse.collapse.out{:role => "tabpanel", id: "collapse_#{user.id}"}
          .panel-body
            - if user.current_work_period.has_jobs?
              - user.current_work_period.jobs.each do |job|
                .panel-group{:role => "tablist", id: "user_job_accordian_#{job.id}"}
                  .panel.panel-default
                    .panel-heading{:role => "tab"}
                      %h4.panel-title
                        %a{"data-parent" => "#user_job_accordian_#{job.id}", "data-toggle" => "collapse", :href => "#user_job_collapse_#{job.id}"}
                          = job.name
                    .panel-collapse.collapse.out{:role => "tabpanel", id: "user_job_collapse_#{job.id}"}
                      .panel-body
                        - job.addresses.each do |address|
                          .panel-group{:role => "tablist", id: "user_address_accordian_#{address.id}"}
                            .panel.panel-default
                              .panel-heading{:role => "tab"}
                                %h4.panel-title
                                  %a{"data-parent" => "#user_address_accordian_#{address.id}", "data-toggle" => "collapse", :href => "#user_address_collapse_#{address.id}"}
                                    = address.value
                              .panel-collapse.collapse.out{:role => "tabpanel", id: "user_address_collapse_#{address.id}"}
                                .panel-body
                                  - address.work_logs.sort_by{|work_log| work_log.updated_at}.each do |work_log|
                                    .well
                                      %h5.text-center
                                        Date:
                                        = work_log.date
                                      %h5.text-center
                                        Description:
                                        = work_log.work_description
                                      %h5.text-center
                                        Time Started:
                                        = work_log.time_started
                                      %h5.text-center
                                        Time Ended:
                                        = work_log.time_ended
                                      %h5.text-center
                                        Break Minutes:
                                        = work_log.break_minutes
                                      %h5.text-center
                                        Money Spent:
                                        = work_log.money_spent
                                      %h5.text-center
                                        Spent Description:
                                        = work_log.spent_description
.text-center
  = link_to 'Back', :index, {class: 'btn btn-default', role: 'button'}