%h5.text-center
  Date:
  = work_log.date
%h5.text-center
  Description:
  = work_log.work_description
%h5.text-center
  Time Started:
  = work_log.time_started
%h5.text-center
  Time Ended:
  = work_log.time_ended
%h5.text-center
  Total Time Worked:
  = minutes_in_words(work_log.total_time_worked)
- unless work_log.break_minutes.blank?
  %h5.text-center
    Break Minutes:
    = work_log.break_minutes
- unless work_log.money_spent == "0"
  %h5.text-center
    Money Spent:
    = work_log.money_spent
  %h5.text-center
    Spent Description:
    = work_log.spent_description