.text-center
  - if admin?
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Admin Actions
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'View Current Work Logs', '/work_logs'
            %li
              = link_to 'View Passed Work Periods', '/passed_work_periods'
            %li
              = link_to 'Setup Appointments', '/setup_appointments'
            %li
              = link_to 'Work Period Actions', '/work_period_actions'
            %li
              = link_to 'User Actions', '/user_actions'
- if current_user.work_periods.empty?
  .text-center
    %h3.text-center You have no work history.
- elsif @current_work_period
  - if !admin?
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Work Period Actions
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'Manage My Appointments', "/appointments/#{current_user.id}"
    %form.form.form-horizontal
      .form-group
        %label{class: 'col-sm-2 control-label'} Work Logs For Address:
        .col-sm-9
          %select#admin_address_select.form-control.selectpicker{'data-live-search' => 'true'}
            %option{value: 'blank'} -- Select Address
            - @addresses.each do |address|
              %option{value: "/work_logs_by_address/#{address.value}"}
                = address.value
      %hr
  %h5.text-center
    = "Work Period Started: #{@current_work_period.date_started.strftime('%m/%d/%y')}"
  .lead.text-center
    .red
      .info
        = "Total Time Worked: #{minutes_in_words(@current_work_period.total_time)}"
      .info
        = "Total Money Spent: #{number_to_currency(@current_work_period.total_money)}"
  %hr
  .container-fluid.text-center
    .row
      %h4
        %label Select A Job To Add Work To:
        %select#job_select.selectpicker{'data-live-search' => 'true'}
          %option{value: 'blank'} Select A Job
          - @jobs.each do |job|
            %option{value: "/add_work/#{job.name}"}
              = job.name
          %option{value: '/new_job'}
            Add A Job
      - @work_period_jobs.each do |job|
        - next unless job.has_work?
        .panel-group{id: "accordion-#{job.id}"}
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a{"data-parent" => "#accordion-#{job.id}", "data-toggle" => "collapse", :href => "#collapse-#{job.id}"}
                  .h3
                    Job Name:
                    = job.name
                  %i.red
                    .info
                      = "Total Time On Job: #{minutes_in_words(job.total_time)}"
                    .info
                      = "Total Money Spent On Job: #{number_to_currency(job.total_money)}"
            .panel-collapse.collapse.out{id: "collapse-#{job.id}"}
              .panel-body
                - job.addresses.each do |address|
                  - if address.has_work?
                    .panel-group{id: "accordion-address-#{address.id}"}
                      .panel.panel-default
                        .panel-heading
                          %h4.panel-title.underline.bold
                            %a{"data-parent" => "#accordion-address-#{address.id}", "data-toggle" => "collapse", :href => "#collapse-address-#{address.id}"}
                              Address:
                              = address.value
                        .panel-collapse.collapse.out{id: "collapse-address-#{address.id}"}
                          .panel-body
                            - address.work_logs.sort_by{|work_log| work_log.updated_at}.reverse.each do |work_log|
                              .well
                                = render(partial: 'shared/work_log_details', locals: {work_log: work_log})
                                %hr
                                  %h6.underline   Actions:
                                  %a{href: "/work_log/edit/#{work_log.id}"}
                                    = fa_icon 'edit 2x', class: 'edit_work_log pointer', value: work_log.id
                                  = fa_icon 'trash-o 2x', class: 'delete_work_log pointer', value: work_log.id
- else
  %h3.text-center No Current Work Period.
- if @passed_work_periods_count > 0
  #footer.text-center
    %a{href: "passed_work_periods/#{current_user.id}", class: 'btn btn-default'}
      = "View #{pluralize(@passed_work_periods_count, 'Passed Work Period', 'Passed Work Periods')}"