.text-center
  %h3
    = "Welcome - #{current_user.full_name}"
    \-
    = link_to 'Logout', destroy_user_session_path, {method: :delete}
  - if admin?
    %h5.text-center.underline Admin Actions
    = link_to 'View Current Work Logs', '/work_logs', {class: 'btn btn-default margin-bottom'}
    = link_to 'Setup Appointments', '/setup_appointments', {class: 'btn btn-default margin-bottom'}
    %hr
    %h4.text-center View Work Logs For Address
    %form.form.form-horizontal
      .form-group
        %label{class: 'col-sm-2 control-label'} Address:
        .col-sm-9
          %select#admin_address_select.form-control
            %option{value: 'blank'} --Select Address--
            - @addresses.each do |address|
              %option{value: "/work_logs_by_address/#{address.value}"}
                = address.value
  - if !@current_work_period
    %form{method: 'POST', action: "/start_work_period"}
      = hidden_field_tag :authenticity_token, form_authenticity_token
      %button.btn.btn-warning{type: 'submit'} Start Work Period
%hr
- if current_user.work_periods.empty?
  .text-center
    %h3.text-center You have no work history. Click above to start your work period.
- elsif @current_work_period
  %h3.text-center.underline
    Current Work Period
  .text-center
    = link_to 'Manage My Appointments', "/appointments/#{current_user.id}", {class: 'btn btn-default'}
    = link_to 'End Work Period', '/end_work_period', {id: 'end_work_period', class: 'btn btn-warning'}
  %h5.text-center
    %i
      = "Work Period Started: #{@current_work_period.date_started.strftime('%m/%d/%y')}"
  %h5.text-center
    %i.red
      .info
        = "Total Time Worked This Work Period: #{minutes_in_words(@current_work_period.total_time)}"
      .info
        = "Total Money Spent This Work Period: #{number_to_currency(@current_work_period.total_money)}"
  .container-fluid.text-center
    .row
      %h3
        %label Select A Job To Add Work To:
        %select#job_select
          %option{value: 'blank'} Select A Job
          - @jobs.each do |job|
            %option{value: "/add_work/#{job.name}"}
              = job.name
          %option{value: '/new_job'}
            Add A Job
      %hr
      - @work_period_jobs.where(created_by: current_user.id).each do |job|
        - next unless job.has_work?
        .panel-group{id: "accordion-#{job.id}"}
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a{"data-parent" => "#accordion-#{job.id}", "data-toggle" => "collapse", :href => "#collapse-#{job.id}"}
                  .h3
                    Job Name:
                    = job.name
                  %i.red
                    .info
                      = "Total Time On Job: #{minutes_in_words(job.total_time)}"
                    .info
                      = "Total Money Spent On Job: #{number_to_currency(job.total_money)}"
            .panel-collapse.collapse.out{id: "collapse-#{job.id}"}
              .panel-body
                - job.addresses.each do |address|
                  - if address.has_work?
                    .panel-group{id: "accordion-address-#{address.id}"}
                      .panel.panel-default
                        .panel-heading
                          %h4.panel-title.underline.bold
                            %a{"data-parent" => "#accordion-address-#{address.id}", "data-toggle" => "collapse", :href => "#collapse-address-#{address.id}"}
                              Address:
                              = address.value
                        .panel-collapse.collapse.out{id: "collapse-address-#{address.id}"}
                          .panel-body
                            - address.work_logs.sort_by{|work_log| work_log.updated_at}.reverse.each do |work_log|
                              .well
                                %h5.text-center
                                  Date:
                                  = work_log.date
                                %h5.text-center
                                  Description:
                                  = work_log.work_description
                                %h5.text-center
                                  Time Started:
                                  = work_log.time_started
                                %h5.text-center
                                  Time Ended:
                                  = work_log.time_ended
                                %h5.text-center
                                  Break Minutes:
                                  = work_log.break_minutes
                                %h5.text-center
                                  Money Spent:
                                  = work_log.money_spent
                                %h5.text-center
                                  Spent Description:
                                  = work_log.spent_description
                                %hr
                                  %h6.underline   Actions:
                                  %a{href: "/work_log/edit/#{work_log.id}"}
                                    = fa_icon 'edit 2x', class: 'edit_work_log pointer', value: work_log.id
                                  = fa_icon 'trash-o 2x', class: 'delete_work_log pointer', value: work_log.id
-else
  %h3.text-center No current Work Period. Click above to start one.
-# - if @passed_work_periods_count > 0
-#   #footer.text-center
-#     %a{href: '/passed_work_periods', class: 'btn btn-default'}
-#       = "View #{pluralize(@passed_work_periods_count, 'Passed Work Period', 'Passed Work Periods')}"