!!!
%html
  %head
    %title Sorce Construction Work Tracker
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
    %link{:href => image_path('favicon.ico'), :rel => 'shortcut icon', :type => 'image/x-icon'}
  %body
    = render :partial => "shared/bflash"
    - if current_user
      %strong.pull-right
        = "Welcome - #{current_user.full_name}"
        \-
        = link_to 'Logout', destroy_user_session_path, {method: :delete}
    .clearfix
    .text-center
      %a{href: '/'}
        = image_tag('sc-logo-black.png', id: 'logo')
    = yield