!!!
%html
  %head
    %title JSorce Work Tracker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
    %link{:href => image_path('favicon.ico'), :rel => 'shortcut icon', :type => 'image/x-icon'}
  %body
    = render :partial => "shared/bflash"
    .text-center
      = image_tag('jsorce-logo.png')
    = yield
    %footer#footer.text-center.font-m
      Built With
      = fa_icon "heart"
      By:
      %a{href: 'http://www.cottonwoodcoding.com', target: '_blank'} Cottonwood Coding